

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share style */
.display-flex{
    display: flex;
    
}
.text-gray{
    color: #424242;
}
.text-light-gray{
color: #727272;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 30px;
    font: size 1.2em; 
    font-weight: 600;
    border-radius: 8px;
    border: none;
     
}
 
.bg-light{
    background-color: rgba(255, 144, 14,0.1);
}
main>section{
    margin-top: 130px;
}
.text-primary{
    color: #ff900e;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* header style */


/* navbar related styles */
.navbar{
 justify-content: space-between;
 align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
margin: 0 auto;
    
}
/* banner  */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}
.banner-title{
    font: size 4rem;
    font-weight: 700;
}
.banner-image{
    width: 100%;
}
/* main relete */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
     margin-left: 130px;
     max-width:530px ;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #ff900e;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.font-number{
    font-size:2.8rem ;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.fact-title{
    margin-bottom: 20px;
}
/* responsive media query */
@media  screen and (max-width:576px) {
    .navbar, .nav-links ,
    .teams{
        flex-direction:column ;
    }
    .team-img-container ,.facts-container {
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px ;
    }
    .facts-container{
        justify-items: center;
        gap:24px;
    }
}
/* medium size */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    
}